
* {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 80%;
    height: auto;
    margin: 5% auto;
    margin-left:10%;
    margin-top: 50px;
    padding-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
}
.form_top{
    width: 100%;
    text-align: center;
    padding: 2rem 0 1rem;
    border-top: solid .4rem rgba(250,70,200,0.8);
    border-top: 1rem;
    display: flex; 
    justify-content: center;
}
.form_reg{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.btn__form{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.input, .btn_submit{
    background-color: rgba(86, 196, 194, 0.801);
    padding: .5rem;
    margin: .5rem 0;
    border: none;
    border-bottom: solid #ddc3c3 .2rem;
    transition: all .5s;
}
.input:focus{
    border-bottom: solid #F39B53 .2rem;
}
.btn_submit {
    width: 40%;
    border-bottom: none;
    color: white;
    background-color: #31B1E5;
}
.btn_submit:hover{
    background-color: rgba(190, 240, 239, 0.801);
}
.forms{
    width: 100%;
    justify-content: center;
    display: flex;
}
.posCont{
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.title {
    text-align: center;
    width: 100%;
    margin: 5px;
    transition: 6s;
}

.info {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tex {
    text-align: left;
    margin: 20px;
}

@media (max-width:600px){
    .input {
        width: 170px;
    }
    .btn_submit {
        width: 120px;
    }
    .forms {
        width: 50%;
    }
}