
ul, ol {
    list-style:none;
}
header .contenedor {
    width: 100%;
    position: absolute;
}
.nav {
    /* margin-top: 4px; */
    position: fixed;
    right: 0;
    height: auto;
    transform: translateX(0%);
    display: flex;	
}

.nav li a {
    background-color:rgba(0, 0, 0, 0.0);
    color:#333;
    text-decoration:none;
    padding:9px;
    display:block;
    font-size: 17px;
}


.nav li a:hover {
    background: rgba(192, 191, 191, 0.616);
	color: white;
	transition: all 0.7s;
}
.nav li ul {
    background-color: rgb(238, 255, 254);
    display:none;
    position:absolute;
    min-width:120px;
}
.nav li:hover > ul {
    display:block;
    right: 0;
}

.nav li ul li {
    position:relative;
}

.titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}
.contenedor .servicios {
    background-color: rgba(210, 243, 252, 0.616);
    margin-top: 80px;
    /* height: 200px; */
    text-align: center;
}
.parrafoh {
    margin-top: 5%;
    display: flex;
    font-size: 1.5em;
    width: 50%;
    margin-left: 250px;
    
}
