#info {
	color: #333;
	text-align: center;
	background-color: rgba(255,255,255, 0.7);
}
#info .contenedor {           /*Esta madre es lo que hace que se puedea extender y este sobre todo el body*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.info-overlay, .info-overlay1, .info-overlay2, .info-overlay3, .info-overlay4,.info-overlay5, .info-overlay6 {
	box-shadow: 4px 6px #333;
	display: flex;
	margin: 20px;
	color: #300B38 ;
	border-radius: 15%;
	width: 290px;
	height: 240px;
}
.info-overlay {
	background-color: #FF5589 ;
}
.info-overlay1 {
	background-color: #01C8E9 ;
}
.info-overlay2 {
	background-color: #FFD248 ;
}
.info-overlay3 {
	background-color: #1EE387 ;
}
.info-overlay4 {
	background-color: #7998D5 ;
}
.info-overlay5 {
	background-color: #F1D1E2 ;
}
.info-overlay6 {
	background-color: #9CD391 ;
}
.visible {
	text-align: center;
	justify-content: center;
	font-size: 25px;
	transition: all 4.5s;
	width: 290px;
	margin-top: 20px;
}
.visible .serv {
	font-size: 40px;
}
.invisible {
	display: none;
	width: 290px;
	height: 240px;
	text-align: center;
	justify-content: center;
}
/*-------------------------------------------------------Aqui comienza el pedo que no se hacer bien ----------------------------*/
.info-overlay:hover .visible{
	display: none;
}
.info-overlay:hover .invisible{
	transition: all 1.5s;
	border-radius: 15%;
	width: 290px;
	height: 240px;
	display: flex;
}
.info-overlay1:hover .visible{
	display: none;
}
.info-overlay1:hover .invisible{
	transition: all 1.5s;
	border-radius: 15%;
	width: 290px;
	height: 240px;
	display: flex;
}
.info-overlay2:hover .visible{
	display: none;
}
.info-overlay2:hover .invisible{
	transition: all 1.5s;
	border-radius: 15%;
	width: 290px;
	height: 240px;
	display: flex;
}
.info-overlay3:hover .visible{
	display: none;
}
.info-overlay3:hover .invisible{
	transition: all 1.5s;
	border-radius: 15%;
	width: 290px;
	height: 240px;
	display: flex;
}
.info-overlay4:hover .visible{
	display: none;
}
.info-overlay4:hover .invisible{
	transition: all 1.5s;
	border-radius: 15%;
	width: 290px;
	height: 240px;
	display: flex;
}
.info-overlay5:hover .visible{
	display: none;
}
.info-overlay5:hover .invisible{
	transition: all 1.5s;
	border-radius: 15%;
	width: 290px;
	height: 240px;
	display: flex;
}
.info-overlay6:hover .visible{
	display: none;
}
.info-overlay6:hover .invisible{
	transition: all 1.5s;
	border-radius: 15%;
	width: 290px;
	height: 240px;
	display: flex;
}
/*---------------------------------------------------Aqui termina el pedo que no se hacer bien-------------------------------------------*/
.invisible:hover {
	background-color: rgba(255,255,255,0.8);
	transition: all 3.5s;
}
.invisible p:hover {
	text-align: center;
	margin-top: 50px;
	color: #333;
	transition: all 1.5s;
}
@media (min-width: 480px) {
	.info-overlay, .info-overlay1, .info-overlay2, .info-overlay3, .info-overlay4,.info-overlay5, .info-overlay6 {
		width: 40%;
	}
	.invisible p {
		width: auto;
	}
	.visible .serv{
		font-size: 25px;
	}
	#info .titulo {
		font-size: 35px;
	}
}
@media (min-width: 778px){
	.info-overlay, .info-overlay1, .info-overlay2, .info-overlay3, .info-overlay4,.info-overlay5, .info-overlay6 {
		width: auto;
	}
}
@media (min-width: 1024px) {
	.info-overlay, .info-overlay1, .info-overlay2, .info-overlay3, .info-overlay4,.info-overlay5, .info-overlay6 {
		width: auto;
	}
	.invisible p{
		width: 230px;
	}
	.invisible p:hover {
		margin-top: 40px;
	}
	.visible .serv{
		font-size: 25px; 
		margin-top: 25px;
	}
	#info .titulo {
		font-size: 60px;
		color: #fff;
	}
}
