
.icon-youtube:before { content: '\35'; } /* '5' */
.icon-deplanta:before { content: '\e800'; } /* '' */
.icon-encasa:before { content: '\e801'; } /* '' */
.icon-foranea:before { content: '\e802'; } /* '' */
.icon-evsocial:before { content: '\e803'; } /* '' */
.icon-evformal:before { content: '\e804'; } /* '' */
.icon-personalizado:before { content: '\e805'; } /* '' */
.icon-up:before { content: '\e806'; } /* '' */
.icon-up-open:before { content: '\e809'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu01:before { content: '\f0c9'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-nocturno:before { content: '\f186'; } /* '' */